<!doctype html>
<html lang="en">
  <head>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/v1.0.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/624ec6011a.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
   <style>
       .card img{
       width: 240px;
       height: 230px;
       }
       .card-body h5,p{
        text-align:center;
       }
   </style>
  </head>
  <body>

    {% load static %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Employee Attendance</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add..
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/analysis/instructions">Files</a>
              <a class="dropdown-item" href="/admin/analysis/employee/">Employee</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>

        </ul>
        <form method="get" action="/analysis/search/" class="form-inline my-2 my-lg-0">
          <input name="search" id="search   " class="form-control mr-sm-2" type="search" placeholder="Enter employee name" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<div class="container-fluid">
    <h2 style="text-align: center;padding-top: 3vh;">Analysis for {{month}} {{Document.year}} </h2>
    <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/analysis/chose" role="button">Chose different Month for Analysis</a>
    <br>

    <h2 style="text-align: center;padding-top: 3vh;">STAFF</h2>

    <div class="row" style="margin: 2vw;">

            <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
              <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
                <img class="card-img-top" src="{% static 'analysis/prof.png' %}" alt="Card image cap">
                <div class="card-body">
                        <h5>{{employee.0.employee_name}}</h5>
                        <p>{{employee.0.employee_position}}</p>

                </div>
              </a>
            </div>

            <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
              <a href="/analysis/employee/{{employee.1.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
                <img class="card-img-top" src="{% static 'analysis/prof.png' %}" alt="Card image cap">
                <div class="card-body">
                 <h5>{{employee.1.employee_name}}</h5>
                  <p>{{employee.1.employee_position}}</p>
          </div>
              </a>
            </div>

            <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
              <a href="/analysis/employee/{{employee.2.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
                <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
                <div class="card-body">
                  <h5>{{employee.2.employee_name}}</h5>
                        <p>{{employee.2.employee_position}}</p>
          </div>
              </a>
            </div>

            <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
              <a href="/analysis/employee/{{employee.3.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
                <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
                <div class="card-body">
                  <h5>{{employee.3.employee_name}}</h5>
                        <p>{{employee.3.employee_position}}</p>
          </div>
              </a>
            </div>

            <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
              <a href="/analysis/employee/{{employee.4.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
                <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
                <div class="card-body">
                  <h5>{{employee.4.employee_name}}</h5>
                        <p>{{employee.4.employee_position}}</p>
          </div>
              </a>
            </div>

    </div>

    <div class="row" style="margin: 2vw;">

          <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
            <a href="/analysis/employee/{{employee.5.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
              <img class="card-img-top" src="/media/{{employee.5.employee_image}}" alt="Card image cap">
              <div class="card-body">
                      <h5>{{employee.5.employee_name}}</h5>
                        <p>{{employee.5.employee_position}}</p>
                        <p>{{employee.5.employee_image}}</p>
              </div>
            </a>
          </div>

          <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
            <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
              <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
              <div class="card-body">
                      <h5 class="card-title">Card title</h5>
              </div>
            </a>
          </div>

          <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
            <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
              <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
              <div class="card-body">
                      <h5 class="card-title">Card title</h5>
              </div>
            </a>
          </div>

          <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
            <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
              <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
              <div class="card-body">
                      <h5 class="card-title">Card title</h5>
              </div>
            </a>
          </div>

          <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
            <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
              <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
              <div class="card-body">
                      <h5 class="card-title">Card title</h5>
              </div>
            </a>
          </div>

    </div>
  <div class="row" style="margin: 2vw; ">

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

  </div>
      <div class="row" style="margin: 2vw; ">

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

  </div>
      <div class="row" style="margin: 2vw; ">

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

  </div>
      <div class="row" style="margin: 2vw; ">

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

  </div>
      <div class="row" style="margin: 2vw; ">

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

  </div>
      <div class="row" style="margin: 2vw; ">

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

        <div class="card" style="width: 15rem; margin-left:auto;margin-right: auto;margin-top: 25px;margin-bottom: 30px;">
          <a href="/analysis/employee/{{employee.0.employee_id}}/{{Document.year}}{{Document.monthnumber}}" style="color: black; text-decoration: none;">
            <img class="card-img-top" src="{% static 'analysis/prof.png'%}" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Card title</h5>
            </div>
          </a>
        </div>

  </div>
</div>
<footer id="contact" style="background:black; color:white;">
  <div class="container-fluid footer-section-bg footer">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <img src="images/logof.png" class="img-fluid footer-logo">
          <p class="about-footer">Employee Attendance gives a detailed visualization of the employees performance</p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 contact-footer">
          <h4>Contact Us</h4>
          <p class="contact-para">VIIT, pune </p>
          <p class="contact-paraone">123456789</p>
          <p class="contact-paratwo"></p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <h4 class="mb-4">Contact Us</h4>
          <form>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter Email Id" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn footer-subscribe-button btn-outline-secondary" type="button">Submit</button>
              </div>
            </div>
          </form>
          <div>
            <ul type="none" class="d-flex">
              <li><a href="#" ><img src="images/social-facebook.png" alt="facebook" class="img-fluid"></a></li>
              <li><a href="#" ><img src="images/social-twitter.png" alt="facebook" class="img-fluid"></a></li>
              <li><a href="#" ><img src="images/social-googleplus.png" alt="facebook" class="img-fluid"></a></li>
              <li><a href="#" ><img src="images/social-instagram.png" alt="facebook" class="img-fluid"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>